<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BaseDir" value="..\"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="server=.\SQLEXPRESS;database=PathfinderFr;Integrated Security=true"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
